{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Michalova testovaci stranka</h1>
    <p class="lead">Tato stranka mi slouzi pouze pro nauceni se zakladum flasku a gitu.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Muj Git</h2>
        <p>
            Nedavno zalozeni ucet na GitHubu.
        </p>
        <p><a class="btn btn-default" href="https://github.com/MiTrnka">GitHub</a></p>
    </div>
    <div class="col-md-4">
        <h2>Moje pexeso</h2>
        <p>Zopakoval jsem si zaklady JavaScriptu a aby me to bavilo vice, naprogramoval jsem si od zakladu pexeso.</p>
        <p><a class="btn btn-default" href="https://vyberakci.cz">Moje pexeso</a></p>
    </div>
</div>

{% endblock %}
